In [1]:
#importing the libraryes
import pandas as pd
import mysql.connector
from getpass import getpass

In [2]:
#inserting the dataset 
healthcare = pd.read_csv("C:/Users/megal/Downloads/Healtcare-Dataset.xlsx - Sheet1.csv")
healthcare

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,12/31/2022,1/12/2023,Viral Infection,General,MRI,Jay Sinha,1/20/2023,5.0,13234,11911
1,27781,1/4/2023,1/12/2023,Typhoid,ICU,MRI,Jaya Yaadav,1/16/2023,4.0,12241,11017
2,24413,1/5/2023,1/12/2023,Malaria,General,CT Scan,Jay Sinha,1/15/2023,5.0,35255,31730
3,27360,1/5/2023,1/12/2023,Flu,Private,X-Ray,Jaya Yaadav,1/19/2023,5.0,6582,5924
4,26097,1/6/2023,1/12/2023,Viral Infection,General,Blood Test,Jaya Yaadav,2/6/2023,4.9,4567,4110
...,...,...,...,...,...,...,...,...,...,...,...
7152,29885,3/3/2024,3/7/2024,Typhoid,Private,Blood Test,Jay Sinha,3/10/2024,5.0,2342,2108
7153,26517,3/4/2024,3/7/2024,Pneumonia,Private,CT Scan,Jaya Yaadav,3/14/2024,5.0,24943,22449
7154,28201,3/5/2024,3/7/2024,Flu,General,Blood Test,Jay Sinha,NaN,3.5,2343,2109
7155,24833,3/6/2024,3/7/2024,Typhoid,Private,X-Ray,Mark Joy,3/15/2024,4.9,3475,3128
7156,30727,3/6/2024,3/7/2024,Viral Infection,Private,Ultrasound,Jaya Yaadav,3/11/2024,5.0,66537,59883

In [11]:
#checking how many patient are tested in MRI
healthcare.query('Test=="MRI"')

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,12/31/2022,1/12/2023,Viral Infection,General,MRI,Jay Sinha,1/20/2023,5.0,13234,11911
1,27781,1/4/2023,1/12/2023,Typhoid,ICU,MRI,Jaya Yaadav,1/16/2023,4.0,12241,11017
20,24414,1/7/2023,1/13/2023,Typhoid,Private,MRI,Ravi D,1/21/2023,3.5,74329,66896
26,28203,1/8/2023,1/13/2023,Pneumonia,Private,MRI,Naresh Goyenka,1/17/2023,5.0,43522,39170
29,28624,1/10/2023,1/13/2023,Malaria,ICU,MRI,Jay Sinha,2/8/2023,5.0,43205,38885
...,...,...,...,...,...,...,...,...,...,...,...
7139,26516,3/5/2024,3/6/2024,Fracture,Private,MRI,Ravi D,NaN,4.9,8472,7625
7142,29464,2/28/2024,3/7/2024,Typhoid,Private,MRI,Naresh Goyenka,3/10/2024,4.9,12342,11108
7144,29043,2/29/2024,3/7/2024,Flu,General,MRI,Jay Sinha,NaN,5.0,43205,38885
7147,30306,3/1/2024,3/7/2024,Typhoid,General,MRI,Tejas Saxena,3/10/2024,3.5,74329,66896
7149,26938,3/2/2024,3/7/2024,Flu,Private,MRI,Tejas Saxena,NaN,5.0,23443,21099

In [26]:
#Now checking howmany patient are have Typhoid and they are in ICU bed occupancy
healthcare.query('Diagnosis == "Typhoid"' and 'Bed_Occupancy == "ICU"')

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16,4.0,12241,11017
9,26939,2023-01-07,2023-01-12,Malaria,ICU,Blood Test,Tejas Saxena,2023-02-07,5.0,2343,2109
18,26098,2023-01-05,2023-01-13,Fracture,ICU,Ultrasound,Mark Joy,2023-01-20,5.0,56784,51106
23,23993,2023-01-08,2023-01-13,Flu,ICU,Blood Test,Jaya Yaadav,2023-01-20,5.0,8394,7555
29,28624,2023-01-10,2023-01-13,Malaria,ICU,MRI,Jay Sinha,2023-02-08,5.0,43205,38885
...,...,...,...,...,...,...,...,...,...,...,...
7115,30304,2024-02-29,2024-03-05,Flu,ICU,MRI,Tejas Saxena,2024-03-13,4.0,24210,21789
7117,26936,2024-03-01,2024-03-05,Typhoid,ICU,Blood Test,Niki Sharma,2024-03-08,5.0,6454,5809
7132,29042,2024-03-01,2024-03-06,Fracture,ICU,MRI,Jaya Yaadav,2024-03-09,5.0,8472,7625
7138,24832,2024-03-05,2024-03-06,Malaria,ICU,CT Scan,Naresh Goyenka,2024-03-13,5.0,47564,42808
7148,25675,2024-03-02,2024-03-07,Viral Infection,ICU,Ultrasound,Mark Joy,2024-03-14,5.0,76894,69205

In [14]:
healthcare[(healthcare['Billing Amount'] >= 12241)]

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,12/31/2022,1/12/2023,Viral Infection,General,MRI,Jay Sinha,1/20/2023,5.0,13234,11911
1,27781,1/4/2023,1/12/2023,Typhoid,ICU,MRI,Jaya Yaadav,1/16/2023,4.0,12241,11017
2,24413,1/5/2023,1/12/2023,Malaria,General,CT Scan,Jay Sinha,1/15/2023,5.0,35255,31730
8,25676,1/7/2023,1/12/2023,Viral Infection,Private,Ultrasound,Jaya Yaadav,1/19/2023,5.0,65748,59173
11,29886,1/7/2023,1/12/2023,Viral Infection,Private,CT Scan,Tejas Saxena,1/16/2023,3.5,23945,21551
...,...,...,...,...,...,...,...,...,...,...,...
7147,30306,3/1/2024,3/7/2024,Typhoid,General,MRI,Tejas Saxena,3/10/2024,3.5,74329,66896
7148,25675,3/2/2024,3/7/2024,Viral Infection,ICU,Ultrasound,Mark Joy,3/14/2024,5.0,76894,69205
7149,26938,3/2/2024,3/7/2024,Flu,Private,MRI,Tejas Saxena,NaN,5.0,23443,21099
7153,26517,3/4/2024,3/7/2024,Pneumonia,Private,CT Scan,Jaya Yaadav,3/14/2024,5.0,24943,22449
7156,30727,3/6/2024,3/7/2024,Viral Infection,Private,Ultrasound,Jaya Yaadav,3/11/2024,5.0,66537,59883

In [32]:
#how many patient give an feedback = 5
healthcare[(healthcare['Feedback'] == 5.0)]

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20,5.0,13234,11911
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15,5.0,35255,31730
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19,5.0,6582,5924
5,28623,2023-01-06,2023-01-12,Flu,General,Blood Test,Naresh Goyenka,2023-01-20,5.0,6454,5809
6,23992,2023-01-07,2023-01-12,Malaria,General,X-Ray,Tejas Saxena,2023-01-16,5.0,2245,2021
...,...,...,...,...,...,...,...,...,...,...,...
7148,25675,2024-03-02,2024-03-07,Viral Infection,ICU,Ultrasound,Mark Joy,2024-03-14,5.0,76894,69205
7149,26938,2024-03-02,2024-03-07,Flu,Private,MRI,Tejas Saxena,NaT,5.0,23443,21099
7152,29885,2024-03-03,2024-03-07,Typhoid,Private,Blood Test,Jay Sinha,2024-03-10,5.0,2342,2108
7153,26517,2024-03-04,2024-03-07,Pneumonia,Private,CT Scan,Jaya Yaadav,2024-03-14,5.0,24943,22449
7156,30727,2024-03-06,2024-03-07,Viral Infection,Private,Ultrasound,Jaya Yaadav,2024-03-11,5.0,66537,59883

In [2]:
healthcare.describe()

         Patient_ID     Feedback  Billing Amount  Health Insurance Amount
count   7157.000000  7157.000000     7157.000000              7157.000000
mean   27149.000000     4.723543    26607.891854             23947.292162
std     2066.192271     0.479901    25791.931009             23212.695899
min    23571.000000     3.500000     1223.000000              1101.000000
25%    25360.000000     4.500000     5454.000000              4909.000000
50%    27149.000000     5.000000    12348.000000             11113.000000
75%    28938.000000     5.000000    43522.000000             39170.000000
max    30727.000000     5.000000    95867.000000             86280.000000

In [33]:
healthcare.isnull().sum()

Patient_ID                   0
Admit_Date                   0
Discharge_Date               0
Diagnosis                    0
Bed_Occupancy                0
Test                         0
Doctor                       0
Followup Date              122
Feedback                     0
Billing Amount               0
Health Insurance Amount      0
dtype: int64

In [7]:
healthcare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   datetime64[ns]
 2   Discharge_Date           7157 non-null   datetime64[ns]
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7035 non-null   datetime64[ns]
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   int64
 10  Health Insurance Amount  7157 non-null   int64
dtypes: datetime64[ns](3), float64(1), int64(3), object(4)
memory usage: 615.2+ KB

In [3]:
healthcare['Admit_Date'] = pd.to_datetime(healthcare['Admit_Date'],format="%m/%d/%Y")
healthcare['Discharge_Date'] = pd.to_datetime(healthcare['Discharge_Date'],format="%m/%d/%Y")
healthcare['Followup Date'] = pd.to_datetime(healthcare['Followup Date'],format="%m/%d/%Y")

In [16]:
healthcare.head()

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20,5.0,13234,11911
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16,4.0,12241,11017
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15,5.0,35255,31730
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19,5.0,6582,5924
4,26097,2023-01-06,2023-01-12,Viral Infection,General,Blood Test,Jaya Yaadav,2023-02-06,4.9,4567,4110

In [4]:
healthcare.dropna(subset=['Followup Date'],inplace = True)

In [5]:
healthcare.isnull().sum()

Patient_ID                 0
Admit_Date                 0
Discharge_Date             0
Diagnosis                  0
Bed_Occupancy              0
Test                       0
Doctor                     0
Followup Date              0
Feedback                   0
Billing Amount             0
Health Insurance Amount    0
dtype: int64

In [6]:
df = healthcare
df

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20,5.0,13234,11911
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16,4.0,12241,11017
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15,5.0,35255,31730
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19,5.0,6582,5924
4,26097,2023-01-06,2023-01-12,Viral Infection,General,Blood Test,Jaya Yaadav,2023-02-06,4.9,4567,4110
...,...,...,...,...,...,...,...,...,...,...,...
7151,28622,2024-03-02,2024-03-07,Flu,General,X-Ray,Ravi D,2024-03-11,4.0,6784,6106
7152,29885,2024-03-03,2024-03-07,Typhoid,Private,Blood Test,Jay Sinha,2024-03-10,5.0,2342,2108
7153,26517,2024-03-04,2024-03-07,Pneumonia,Private,CT Scan,Jaya Yaadav,2024-03-14,5.0,24943,22449
7155,24833,2024-03-06,2024-03-07,Typhoid,Private,X-Ray,Mark Joy,2024-03-15,4.9,3475,3128
7156,30727,2024-03-06,2024-03-07,Viral Infection,Private,Ultrasound,Jaya Yaadav,2024-03-11,5.0,66537,59883

In [8]:
df.to_csv("C:/Users/megal/Downloads/healthnew.csv")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7035 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7035 non-null   int64
 1   Admit_Date               7035 non-null   datetime64[ns]
 2   Discharge_Date           7035 non-null   datetime64[ns]
 3   Diagnosis                7035 non-null   object
 4   Bed_Occupancy            7035 non-null   object
 5   Test                     7035 non-null   object
 6   Doctor                   7035 non-null   object
 7   Followup Date            7035 non-null   datetime64[ns]
 8   Feedback                 7035 non-null   float64
 9   Billing Amount           7035 non-null   int64
 10  Health Insurance Amount  7035 non-null   int64
dtypes: datetime64[ns](3), float64(1), int64(3), object(4)
memory usage: 659.5+ KB

In [10]:
print(len(healthcare))

7035

In [33]:
healthcare.head()

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,2022-12-31,2023-01-12,Viral Infection,General,MRI,Jay Sinha,2023-01-20,5.0,13234,11911
1,27781,2023-01-04,2023-01-12,Typhoid,ICU,MRI,Jaya Yaadav,2023-01-16,4.0,12241,11017
2,24413,2023-01-05,2023-01-12,Malaria,General,CT Scan,Jay Sinha,2023-01-15,5.0,35255,31730
3,27360,2023-01-05,2023-01-12,Flu,Private,X-Ray,Jaya Yaadav,2023-01-19,5.0,6582,5924
4,26097,2023-01-06,2023-01-12,Viral Infection,General,Blood Test,Jaya Yaadav,2023-02-06,4.9,4567,4110

In [5]:
import pymysql
from getpass import getpass
# connecting python with mysql
mydb = pymysql.connect(
    host = "localhost",
    user = "root",
    password = "Sanjana@2003"
)

mycursor = mydb.cursor()

In [ ]:
#creating database healthcare
mycursor.execute("create database healthcare")

In [14]:
healthcare.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7035 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7035 non-null   int64
 1   Admit_Date               7035 non-null   datetime64[ns]
 2   Discharge_Date           7035 non-null   datetime64[ns]
 3   Diagnosis                7035 non-null   object
 4   Bed_Occupancy            7035 non-null   object
 5   Test                     7035 non-null   object
 6   Doctor                   7035 non-null   object
 7   Followup Date            7035 non-null   datetime64[ns]
 8   Feedback                 7035 non-null   float64
 9   Billing Amount           7035 non-null   int64
 10  Health Insurance Amount  7035 non-null   int64
dtypes: datetime64[ns](3), float64(1), int64(3), object(4)
memory usage: 659.5+ KB

In [23]:
mycursor.execute("use healthcare")

In [10]:
#creating table
tables = """
create table healthcares(
Patient_ID int,
Admit_Date date,
Discharge_Date date,
Diagnosis varchar(100),
Bed_Occupancy varchar(100),
Test varchar(50),
Doctor varchar(50),
Followup_Date date,
Feedback float,
Billing_Amount int,
Health_Insurance_Amount int
)"""

mycursor.execute(tables)

In [ ]:
# Convert timestamp columns to string format
df['Admit_Date'] = df['Admit_Date'].dt.strftime('%Y-%m-%d')
df['Discharge_Date'] = df['Discharge_Date'].dt.strftime('%Y-%m-%d')
df['Followup Date'] = df['Followup Date'].dt.strftime('%Y-%m-%d')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7035 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7035 non-null   int64
 1   Admit_Date               7035 non-null   object
 2   Discharge_Date           7035 non-null   object
 3   Diagnosis                7035 non-null   object
 4   Bed_Occupancy            7035 non-null   object
 5   Test                     7035 non-null   object
 6   Doctor                   7035 non-null   object
 7   Followup Date            7035 non-null   object
 8   Feedback                 7035 non-null   float64
 9   Billing Amount           7035 non-null   int64
 10  Health Insurance Amount  7035 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 659.5+ KB

In [25]:


# Prepare the data for insertion
values_to_insert = df[['Patient_ID', 'Admit_Date', 'Discharge_Date', 'Diagnosis', 
                       'Bed_Occupancy', 'Test', 'Doctor', 'Followup Date', 
                       'Feedback', 'Billing Amount', 'Health Insurance Amount']].values.tolist()   # Convert DataFrame to a list of tuples


mycursor.executemany("""
    INSERT INTO healthcares (
        Patient_ID, Admit_Date, Discharge_Date, Diagnosis, 
        Bed_Occupancy, Test, Doctor, Followup_Date, 
        Feedback, Billing_Amount, Health_Insurance_Amount
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
""",values_to_insert)


mydb.commit()